<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GYM MANAGER</title>
    <meta name="description" content="">
    <link href="{{ url_for('static', filename = 'img/favicon.ico') }}" rel="shortcut icon">

    <!-- Fonts -->
    <link href="{{ url_for('static', filename = 'fonts/cloudicon/cloudicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'fonts/fontawesome/css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'fonts/opensans/opensans.css') }}" rel="stylesheet">
    <!-- CSS styles -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/idangerous.swiper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/filter.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet"> 
    <!-- Custom color styles -->
    <link href="{{ url_for('static', filename = 'css/colors/blue.css') }}" rel="stylesheet" title="blue"/>
</head>

<body>
<div class="top-header exapath-w">
    <div class="total-grad-inverse"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="heading">GYM MANAGER</div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/login_admin"><button class="btn btn-default-yellow-fill mt-0 mb-3 mr-3">Login as admin</button></a>
<a href="/login_user"><button class="btn btn-default-yellow-fill mt-0 mb-3 mr-3">Login as user</button></a>
</body>
</html>